@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.cover{
	padding: 1.3em 0em 2.5em 0em;
	background-size: cover;
	background-position: center;
	position: relative;
}
.cover-wrapper{
	position: relative;
	z-index: 10;
}
.cover:after{
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.45);
	z-index: 5;
}
.logo {
    max-width: 350px;
		margin: auto;
}
